:root {
    --ghorgaggre-loading-background-color-data: 128, 128, 128;
    --ghorgaggre-loading-background-opacity: 0.2;
    --ghorgaggre-contributors-image-size: 4.25em;
    --ghorgaggre-contributors-image-border-radius: 50%;
    --ghorgaggre-contributors-width: 7.5em;
    --ghorgaggre-contributors-image-spacing: 1em;
    --ghorgaggre-contributors-spacing: 2em;
}

nav.contributors {
    margin: 0 calc(var(--ghorgaggre-contributors-spacing) / -2);
}

nav.contributors::after {
    content: " ";
    display: block;
    margin-top: calc(var(--ghorgaggre-contributors-spacing) * -1);
}

nav.contributors>a {
    display: inline-block;
    margin: 0 calc(var(--ghorgaggre-contributors-spacing) / 2) var(--ghorgaggre-contributors-spacing);
}

nav.contributors>a>figure {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

nav.contributors>a>figure>img {
    width: var(--ghorgaggre-contributors-image-size);
    border-radius: var(--ghorgaggre-contributors-image-border-radius);
    aspect-ratio: 1;
    object-fit: cover;
    margin-bottom: var(--ghorgaggre-contributors-image-spacing);
}

nav.contributors>a>figure>figcaption {
    width: var(--ghorgaggre-contributors-width);
    text-align: center;
}

span.stargazers.loading,
nav.contributors.loading>a>figure>img,
nav.contributors.loading>a>figure>figcaption {
    background-color: rgba(var(--ghorgaggre-loading-background-color-data), var(--ghorgaggre-loading-background-opacity));
    text-indent: -100vw;
    overflow: hidden;
}